<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
<div style="text-align: center">
    <header
            Project List></header>
</div>
<header>
    <form th:action="@{/JoinProject}" th:object="${task}" method="post">
        <label for="ProjectId">Project Name:</label>
        <input type="text" id="ProjectId" th:field="*{projectId}" required>
        <button type="submit">Add Task</button>
    </form>
</header>
<div style="text-align: left">
    <ul>

    </ul>
</div>


</body>
</html>