<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
<div style="text-align: center">
    <header>
        <a th:href="@{/}">
            <button>Back to Main Page</button>
        </a>
    </header>
</div>
<header>
    <form th:action="@{/test/add}" th:object="${projectId}" method="post">
        <label for="projectId">Task id:</label>
        <input type="text" id="projectId" th:field="*{id}" required>
        <button type="submit">Join task</button>
    </form>
</header>
<div style="text-align: left">
    <ul>
        <li th:each="task : ${tasks}">
            <a th:text="${task.projectName}"></a>
            <br>
            <a th:href="@{/project/{projectId}(projectId=${task.id})}">
                <img th:src="@{/images/aboba.png}" th:href="@{/project/{projectId}(projectId=${task.id})}" />
            </a>
        </li>
    </ul>
</div>


</body>
</html>