<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Page</title>
</head>
<body>

<h1 th:text="${task.projectName}"></h1>



<form th:action="@{/addSubtask/{projectId}(projectId=${task.id})}" method="post" th:object="${newSubtask}">
    <label for="taskName">Subtask Name:</label>
    <input type="text" id="taskName" th:field="*{taskName}" required>
    <label for="description">Description of the project:</label>
    <input type="text" id="description" th:field="*{description}" required>
    <button type="submit">Add Subtask</button>
</form>

<ul>


    <li th:each="subtask : ${task.subtasks}">
        <!--th:text="${subtask.taskName}"-->

     <h1>
         Название задачи: <br>
         <label th:text="${subtask.taskName}"></label>
    </h1>
       <h2> Описание задачи:
           <br>
           <label th:text="${subtask.description}">
           </label>
       </h2>
    </li>

</ul>

</body>
</html>
